# ==============================================
# ===== Переменные для работы PostgreSQL =====
# ==============================================

POSTGRES_HOST=dev-postgresql # Хост базы данных для приложения
POSTGRES_PORT=5432 # Порт базы данных для приложения

POSTGRES_DB=arms # База данных
POSTGRES_SCHEMA=arms_schema # Схема приложения

POSTGRES_USER=arms_admin # Пользователь администратор
POSTGRES_PASSWORD=arms_qwerty # Пароль пользователя администратора

POSTGRES_APP_USER=arms_app_user # Пользователь приложения
POSTGRES_APP_PASSWORD=arms_app_qwerty # Пароль пользователя приложения

# ==============================================
# ===== Переменные для работы FastAPI =====
# ==============================================

APP_PORT=8001 # Порт приложения

PROJECT_NAME="ARMS - Automated Requirements Management System"
SECRET_KEY="your-secret-key-min-32-characters-long-change-in-production"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=21600
